@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* variables */
:root {
    --primary: #63156f;
    --secondary: #fff5db;
}

/* resets */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* base styles */
body {
    background-color: var(--secondary);
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 1em;
    color: var(--primary);
}

/* mobile styles */
/* header and navigation */
header {
    background-color: var(--primary);
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

h1,
header a {
    color: var(--secondary);
}

.grid>a {
    margin-top: 25px;
    grid-column: span 8;
    text-align: center;
}

hr {
    color: var(--secondary);

}

.grid>nav {
    margin: 15px;
    grid-column: span 8;
    text-align: center;
}

#menu {
    margin-bottom: 10px;
    line-height: 10px;
}

#menu>li {
    display: inline;
    padding: 10px;
}

#menu a:hover {
    color: #fc8dd7;
    border-bottom: 1px solid #fc8dd7;
}

.active {
    color: #fc8dd7;
}

/* hero section */
#hero-wrapper {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background-image: linear-gradient(270deg, rgba(157, 66, 127, 0.109), rgba(250, 213, 213, 0.782)), url('../images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fc8dd7;
    overflow: hidden;
}

#hero-text {
    color: var(--secondary);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #63156f5b;
    border-radius: 5%;
}

/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablet and laptop styles */
@media screen and (min-width: 960px) {}

/* desktop styles */
@media screen and (min-width: 1200px) {

    /* example */
    body {
        font-size: 20px;
    }
}