@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* variables */
:root {
    --primary: #63156f;
    --secondary: #fff5db;
}

/* resets */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* base styles */
body {
    background-color: var(--secondary);
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: medium;
    color: var(--primary);
}
/* mobile styles */
header {
    background-color: var(--primary);
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
h1, header a {
    color: var(--secondary);
}
.grid > a {
    margin-top: 25px;
    grid-column: span 8;
    text-align: center;
}
.grid > nav {
    margin: 15px;
    grid-column: span 8;
    text-align: center;
}
#menu {
    margin-bottom: 10px;
    line-height: 10px;
}
#menu > li {
    display: inline;
    padding: 10px;
}


/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablet and laptop styles */
@media screen and (min-width: 960px) {}

/* desktop styles */
@media screen and (min-width: 1200px) {}